name: octave_test

services:
  web:
    build: ./services/frontend
    environment:
      FAST_API_CONTAINER_PORT: ${FAST_API_CONTAINER_PORT}
    ports:
      # host:container
      - ${REACT_HOST_PORT}:${REACT_CONTAINER_PORT}
    stdin_open: true
    tty: true
    command: npm start
    depends_on:
      - api

  api:
    build: ./services/backend
    environment:
      DB_URL: "postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:${POSTGRES_CONTAINER_PORT}/${POSTGRES_DB}"
      API_URL: ${API_URL}
      API_AUTH_TOKEN: ${API_AUTH_TOKEN}
      API_AUTH_USER: ${API_AUTH_USER}
      SECRET_KEY_JWT: ${SECRET_KEY_JWT}
    ports:
      # host:container
      - ${FAST_API_HOST_PORT}:${FAST_API_CONTAINER_PORT}
    depends_on:
      - postgres

  postgres:
    image: postgres:17.2-alpine3.21
    container_name: octave_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      # host:container
      - ${POSTGRES_HOST_PORT}:${POSTGRES_CONTAINER_PORT}
    volumes:
      - db-data:/var/lib/postgresql/data
    restart: always
    command: ["postgres", "-c", "log_statement=all"]

volumes:
  db-data:
    driver: local
    name: octave_db_data
